{% extends theme("base.html") %}

{% block content %}
    <div class="page-products">
        <section class="container">
            <div class="page-products-header row">
                <div class="span12">
                    <h1>Carrinho<span>.</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                {% block cart_base %}
                {% endblock %}
                </div>
            </div>
        </section> 
    </div>
{% endblock %}
