{% extends theme('cart/cart_base.html') %}

{% block cart_base %}
    <p><br><a href="{{url_for('cart.cart')}}" class="btn">Ir para o carrinho</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Referência</th>
                <th>Status</th>
                <th>Itens</th>
                <th>Quantidade</th>
                <th>Código</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
        <tr>
            <td>{{cart.get_uid()}}</td>
            <td>{{cart.status}}</td>
            <td>
                Items: {{cart.items.count()}}<br>
                <ul>
                    {% for item in cart.items %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>$ {{ "%.2f" % cart.total}}</td>
            <td>{{cart.checkout_code}}</td>
            <td>{{cart.created_at}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
