{% if security.registerable or security.recoverable or security.confirmabled %}
<h2>Menu</h2>
<style>
.account_menu {display: table;}
.account_menu li {float:left; margin: 10px;}
</style>
<ul class="account_menu">
  {% if not request.path.endswith('login') %}
  <li><a class="btn btn-primary" href="{{ url_for_security('login', **request.args) }}">Login</a></li>
  {% endif %}
  {% if not request.path.endswith('register') %}
  {% if security.registerable %}
  <li><a class="btn btn-primary" href="{{ url_for_security('register', **request.args) }}">Register</a><br/></li>
  {% endif %}
  {% endif %}
  {% if security.recoverable %}
  <li><a class="btn" href="{{ url_for_security('forgot_password', **request.args) }}">Forgot password</a><br/></li>
  {% endif %}
  {% if security.confirmable %}
  <li><a class="btn btn-primary" xhref="{{ url_for_security('send_confirmation', **request.args) }}">Confirm account</a></li>
  {% endif %}
</ul>
{% endif %}
