{% extends theme('base.html') %}
{% block content %}
<div class="container">
<h2> Confirme seus dados </h2>

<form class="form-horizontal" role="form" action="{{url_for('cart.checkout')}}" method="POST">

<input type="hidden" name="classes_setsubscriber_confirm" value="true">

<div class="form-group">
<label for="name">Nome</label>
<input type="text" name="name" value="{{current_user.name}}" required>
</div>

<div class="form-group">
<label for="email">Email</label>
<input type="text" name="email" value="{{current_user.email}}" required>
</div>
<div class="form-group">
<label for="area_code">DDD</label>
<input type="text" name="area_code" required>
</div>
<div class="form-group">
<label for="phone">Telefone</label>
<input type="text" name="phone" required>
</div>
<div class="form-group">
<label for="document">CNPJ ou CPF</label>
<input type="text" name="document" required>
</div>
<div class="form-group">
<label for="address">Endereço completo</label>
<textarea name="address" required></textarea>
</div>
<br />
<input type="submit" class="btn btn-primary" value="Confirmar">

</form>

<a class="btn" href="{{url_for_security('logout', next=url_for('cart.cart'))}}">Sair e fazer login com outro usuário</a>
</div>

{% endblock %}
